.App {
  text-align: center;
  background-color: #bab9b6;
  position: relative;
}

.inputs{
  background-color:white;
  margin-top:20px;
  text-align: center;
}
.inputField{
  width:50%;
  height:40px;
  border:none;
  border-bottom:1px solid black;
}

@media screen and (max-width: 600px) {
  .app {
    font-size: 30px;
    width:100%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


